{
    "plugins": [
        [
            "babel-plugin-styled-components",
            {
                "displayName": true,
                "fileName": true,
                "minify": true,
                "pure": true
            }
        ]
    ],
    "presets": [
        "react-app"
    ]
}